<div class="flex h-full">
  <app-my-sidebar></app-my-sidebar>
  <div class="w-full h-full flex flex-col items-center justify-center">
    <img ngSrc="../../assets/icons/lock.svg" width="200" height="200" priority />
    <div class="w-[400px] text-center">
      <h1 class="font-bold text-[2rem]">404</h1>
      <p>
        Ошибка со статус кодом 404 - не найдено.<br />
        Хотите вернуться на главную?
      </p>
      <div class="mt-2">
        <my-button link="/" class="mt-2" text="На главную"></my-button>
      </div>
    </div>
  </div>
</div>

